@font-face {
    font-family: 'Coves Light';
    src: url('../../Coves-Bold.otf');
}
.button{
    box-shadow: 0px 5px 10px 5px rgba(59, 59, 59, 0.666);
    color: rgb(134, 15, 15);
    background-color: white;
    border: none;
    border-radius: 100vh;
    padding: 10px 30px;
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: 'Coves Bold';
    transition: 0.5s;
    font-weight: 800;
}

.button:hover, .button:active, .button:focus{
    background-color: rgb(134, 15, 15);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    outline: 0;
}