.Header {
  background: #fff;
  width: 100%;
  text-align: center;
  line-height: 0;
  padding: 20px calc(20px + 2vw);
}

.TextWrapper {
  padding-bottom: 1rem;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header h1 {
  font-size: 2rem;
  color: rgb(235, 178, 56);
  padding: 1rem 1rem 0.5rem 1rem;
  max-width: 400px;
}

.Header p {
  padding: 0 1rem;
}

.LandingPage {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.slideTitle {
  margin-bottom: 30px;
  color: rgb(207, 151, 30); 
}

.box{
  margin: 0 30px;
}
