.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(white , rgba(255, 255, 255, 0.544))
}
.Navbar nav{
  width: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}
.Navbar li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}
.links{
  font-size: 1.2rem;
}
@media screen and (max-width: 420px){
  .Navbar nav{
    margin-right: 0;
    margin-left: 5px;
  }
  .links{
    font-size: 0.8rem;
  }
}