.title{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    font-size: 2.6rem;
}
.box{
    display: flex;
    height: 700px;
    margin-bottom: 100px;
}
.lumba{
    height: 100%;
    width: 30%;
}
.lumba img{
    width: 500px;
    margin-top: 280px;

}
.textBubble{
    color: white;
    width: 60%;
    height: 100%;
    background-image: url('../../images/textBubble.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.textBubble p{
    font-size: 1.3rem;
    width: 80%;
    margin-top: 180px;
    margin-left: 90px;
}
.textBubble h4{
    margin-top: 30px;
    font-size: 1.2rem;
    margin-left: 90px;
}

@media only screen and (max-width: 600px){

}