.title{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    font-size: 2.6rem;
}
.box{
    display: flex;
    justify-content: center;
    /* height: 700px; */
    padding-right: 2%;
    margin-bottom: 100px;
    flex-wrap: wrap-reverse;
}
.lumba{
    /* height: 100%; */
    width: 30%;
    min-width: 240px;
}
.lumba img{
    width: 100%;
    margin-top: 90%;
}
.textBubble{
    color: white;
    width: 70%;
    background-image: url('../../images/textBubble.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 12% 5%;
}
.textBubble p{
    font-size: calc(0.5rem + 1vw);
    width: 90%;
}
.textBubble h4{
    margin-top: 30px;
    font-size: 1.2rem;
}


@media only screen and (max-width: 938px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile.png');
        height: 600px;
        padding: 13% 7%;
    }
    .textBubble p{
        font-size: 1rem;
    }
    .textBubble h4{
        font-size: 1rem;
    }
    .lumba img{
        margin-top: 10%;
    }
    .lumba{
        /* height: 100%; */
        width: 50%;
    }
}

@media only screen and (max-width: 938px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile.png');
        height: 600px;
        padding: 13% 7%;
    }
    .textBubble p{
        font-size: 1rem;
    }
    .textBubble h4{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 771px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile.png');
        height: 550px;
        background-size: 100% 100%;
        padding: 15% 7%;
        
    }
    .box{
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 564px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile2.png');
        height: 600px;
        background-size: 100% 100%;
    }
    .textBubble h4{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 564px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile3.png');
        height: 650px;
    }
    .textBubble p{
        font-size: 1rem;
    }
    .textBubble h4{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 402px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile4.png');
        height: 695px;
    }
    .textBubble p{
        font-size: 1rem;
    }
    .textBubble h4{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 370px){
    .textBubble{
        background-image: url('../../images/textBubbleMobile5.png');
        height: 650px;
    }
    .textBubble p{
        font-size: 0.9rem;
    }
    .textBubble h4{
        font-size: 0.7rem;
    }
}
