/* .Jurusan::after {
  content: '';
  background: url('../../images/lumba-lumba.png') no-repeat center center/cover;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  z-index: 99;
  transform: translate(0);
} */

.ImageWrapper {
  /* max-width: 280px; */
  position: absolute;
  top: -10%;
  left: -5%;
  transform: scale(1.07);
  box-shadow: 2px;
}

.ImageWrapper img {
  width: 100%;
  min-width: 280px;
}

.ImageWrapper2 {
  width: 200px;
  max-height: 200px;
  position: absolute;
  bottom: -12%;
  /* top: 110px; */
  right: -4%;
}

.ImageWrapper2 img {
  width: 88%;
  /* max-height: 200px; */
}

.gede{
  height: 100px;
  width: auto!important;
  color: rgb(214, 130, 130);
  z-index: 99;
  font-size: 5rem;
}

.slidr{
  /* padding: 50px; */
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(90, 90, 90);
  border: rgba(181, 181, 181, 0.636);
  min-width: 200px;
  height: 200px;
}

.slidr > div {
  border-radius: 30px; 
}

.slidr img {
  border-radius: 30px;
}

.slideTitle {
  margin-bottom: 30px;
  /* color: rgb(207, 151, 30);  */
  color: rgb(207, 151, 30);
}

.box{
  margin-bottom: 30px;
  max-width: 50%;
}

@media screen and (max-width: 700px){
  .box{
    min-width: 100%; 
  }
}

.text{
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.text  > p {
  width: 100%;
  text-align: center;
  align-self: center;
  /* position: absolute; */
  margin: 0 auto;
  padding: 0 20px;
}

.Jurusan{
  padding: 0 60px;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 420px){
  .Jurusan {
    padding: 0 10vw;
  }
  .text{
    margin-top: 100px;
  }
}