/* .Jurusan::after {
  content: '';
  background: url('../../images/lumba-lumba.png') no-repeat center center/cover;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  z-index: 99;
  transform: translate(0);
} */

.ImageWrapper {
  max-width: 280px;
  position: absolute;
  top: -5px;
  left: 50px;
  transform: scale(1.7);
  box-shadow: 2px;
}

.ImageWrapper img {
  width: 280px;
}

.ImageWrapper2 {
  width: 200px;
  max-height: 200px;
  position: absolute;
  /* bottom: -5px; */
  top: 110px;
  right: -10px;
}

.ImageWrapper2 img {
  width: 200px;
  max-height: 200px;
}

.gede{
  height: 100px;
  width: auto!important;
  color: rgb(214, 130, 130);
  z-index: 99;
  font-size: 5rem;
}

.slidr{
  /* padding: 50px; */
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(197, 197, 197);
  border: rgba(181, 181, 181, 0.636);
}

.slidr > div {
  border-radius: 30px; 
}