@font-face {
  font-family: 'Aquatico Regular';
  src: url('./Aquatico-Regular.otf');
}

@font-face {
  font-family: 'Coves Light';
  src: url('./Coves-Light.otf');
}

@font-face {
  font-family: 'Coves Bold';
  src: url('./Coves-Bold.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Coves Light';
  line-height: 1.4;
}
.App{
  overflow: hidden;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, .aquatico{
  font-family: 'Aquatico Regular';
  font-weight: 300;
}

p{
  font-family: 'Coves Light';
  font-weight: 100;
  color: rgb(44, 44, 44);
}

.bold {
  font-weight: 800;
}

img{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.landingpage{
  width: 100vw;
  height: 100vh;
  background-image: url("./images/landing.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-position: center;
}

.main-bg{
  background-image: linear-gradient(#e3dff5,#eceae1,#a5dbe2,#8fbbc1,#629ea8)
}

@media screen and (max-width:900px){
  .landingpage{
    width: 100vw;
    height: 100vh;
    background-image: url("./images/landingMobile.jpg");
    background-size: cover;
  }
}